{% extends 'base.html.twig'%}

{% block main_content %}
    <div class="w-full h-full overflow-scroll">
        <div class="p-5">
            {% for event in events %}
                <div class="p-3">
                    <div class="p-2.5 pb-5 w-full h-28 rounded-xl bg-color-lighter">
                        <div class="flex pr-5">
                            <p class="h-28 w-32 text-2xl font-bold">{{ event.exerciseDate|date('l: Y-m-d') }}</p>
                            <div class="w-full p-5 overflow-hidden">
                                <h2 class="text-color-dark text-2xl">EXERCISE: <strong>{{ event.event.title }}</strong></h2>
                                <h2 class="text-color-dark text-2xl">{% if event.event.exerciseType == "weight" %} REPS: {{ event.reps }}; WEIGHT: {{ event.weight }} {% else %} WORKOUT DURATION: {{ event.duration }} minutes {% endif %}</h2>
                            </div>

                            <p class="h-28 text-2xl">Completed: {{ event.completed ? 'YES': 'NO' }}</p>
                            <input type="checkbox" class="event-checkbox w-6" data-user_event="{{ event.id }}"
                                   data-path_url="{{ path("change_event_status")}}" {% if event.completed %} checked {% endif %} disabled>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
